body {
    background-color: rgb(97, 16, 97);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.page-title {
    text-align: center;
}

#agents-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 15%;
    background-color: rgb(107, 114, 114);
    border-radius: 15px;
    padding: 1rem;
}

.icon {
    height: 200px;
    width: 200px;
}

.role {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.role-icon {
    height: 30px;
}