<%- include('partials/header') %>
<link rel="stylesheet" href="/css/error.css">
</head>

<body>
<div class="error">
<h1>ERREUR 404 :</h1>
<% if (locals.error) { %>
    <div class="alert" role="alert">
      <%= error %>
    </div>
  <% } %>
<a href="/home">Retour à la page d'accueil !</a>
</div>



</body>