<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/generator.css">
    </head>
    <%- include ('partials/nav') %>
<body>
    <h1>Bienvenue sur le générateur pour les parties personnalisées</h1>
        <h2>Pour une équipe :</h2>
<form>

    <label for="playerone">Entrez le pseudo du premier joueur</label>
    <input type="text" name="playerone" id="playerone" placeholder="Joueur 1">

    <label for="playertwo">Entrez le pseudo du second joueur</label>
    <input type="text" name="playertwo" id="playertwo" placeholder="Joueur 2">

    <label for="playerthree">Entrez le pseudo du troisième joueur</label>
    <input type="text" name="playerthree" id="playerthree" placeholder="Joueur 3">

    <label for="playerfour">Entrez le pseudo du quatrième joueur</label>
    <input type="text" name="playerfour" id="playerfour" placeholder="Joueur 4">

    <label for="playerfive">Entrez le pseudo du cinquième joueur</label>
    <input type="text" name="playerfive" id="playerfove" placeholder="Joueur 5">

    <input type="submit" value="C'est parti !">
</form>
</body>