<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/generator.css">
    </head>
    <%- include ('partials/nav') %>

        <body>
            <div class="background">
            <div class="difficulty_container">
                <h1>Bienvenue sur le Valorant Generator !</h1>
                <p class="presentation"><strong>Veuillez choisir la difficulté de mission qui vous convient :</strong></p>
                <a href="/generator/custom" class="link-perso">Cliquez içi pour les personnalisées</a>
                <div class="modes">
                    <div class="easy card">
                        <h3>Facile</h3>
                        <p>Génération d'un agent aléatoire !</p>
                        <p>Le choix des armes et l'utilisation des compétences est illimité.</p>
                        <a href="/generator/easy"><button>C'est parti !</button></a>
                    </div>
                    <div class="medium card">
                        <h3>Intermédiaire</h3>
                        <p>Génération d'un agent aléatoire, et d'une arme aléatoire de chaque type.</p>
                        <p>L'utilisation des compétences est illimité.</p>
                        <a href="/generator/medium"><button>Allons-y !</button></a>
                    </div>
                    <div class="hard card">
                        <h3>Difficile</h3>
                        <p>Génération d'un agent aléatoire, trois armes aléatoire et interdiction de l'utilisation d'une
                            compétence.</p>
                        <p>Bonne chance ?</p>
                        <a href="/generator/hard"><button>Prêt !</button></a>
                    </div>
                    <div class="valorant card">
                        <h3>Valorant</h3>
                        <p>Un agent aléatoire, une arme aléatoire, une compétence aléatoire..</p>
                        <p>Et dire que vous n'avez même pas le choix de la carte !</p>
                        <a href="/generator/valorant"><button>Match found !</button></a>
                    </div>
                </div>
                <em><strong>Souvenez-vous, le Classic est gratuit et disponible à chaque manche !</strong></em>
                <em class="help">Incroyable, je vous aide déjà...</em>
            </div>
            </div>
        </body>

        </html>