<%- include('partials/header') %>
<link rel="stylesheet" href="/css/home.css">
</head>
<%- include('partials/nav') %>
<body class="homepage">
    <main>
        <div class="paraph-homepage hidden">
            <div class="title">
            <h2>Bienvenue sur Valorant Generator</h2><button class="close hidden">X</button>
            </div>
            <h4 class="know-more">En savoir plus</h4>
            <div class="paraph-info hidden">
            <p>Valorant Generator est réalisé dans le cadre d'un projet personnel.
            <p>Ce site à différents buts dont permettre la consultation de <strong>l'ensemble des agents</strong> et <strong>l'ensemble de l'arsenal</strong> de Valorant</p>
            <p>Mais surtout, un accès au générateur !</p>
            <h3>Le générateur</h3>
            <p>Vous voulez pimenter vos parties ? Que diriez-vous si vous ne choisissiez pas votre agent ? ou votre arme ? ou pire, si on vous interdit l'utilisation de certains pouvoirs ?</p>
            <p>Le générateur est là pour ça</p>
            <p>Il se découpe en plusieurs niveaux de difficultés :</p>
            <ul>
                <li><strong>Facile</strong> : Agent aléatoire</li>
                <li><strong>Intermédiaire</strong> : Agent aléatoire, arme aléatoire dans chacun des différents types</li>
                <li><strong>Difficile</strong> : Agent aléatoire, trois armes aléatoires et interdiction d'utiliser une compétence sur les quatres !</li>
                <li><strong>Valorant</strong> : Agent aléatoire, une seule arme aléatoire, utilisation d'une seule compétence !</li>
            </ul>
            </div>
        </div>
    </main>

<script src="/js/home.js"></script>
</body>