<%- include('partials/header') %>
    <link rel="stylesheet" href="/css/index.css">
</head>
<body class="index">
    <a href="/home"><button class="button-index">Entrer dans le projet</button></a>
</body>
</html>