body{
    background-image: url("/img/img_home/bg.png");
}
.agent_container {
    padding-top: 8%;
  }

.section  {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
    flex: 1;
}

.section-left {
    width: 30%;

}

.section-right {
    width: 30%;
    padding: 0.5rem 1.4rem;
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
}

em {
    align-self: flex-end;
    font-size: 0.9rem;
}

h3 {
    color: #ff4458;
}

.agent_title {
    color: #ff4458;
    text-align: center;
}

img {
    height: 750px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-skill {
    background-color: #ff4458;
    height: 30px;
    width: 30px;
}

.desc-skill {
    font-size: 12px;
}