


.homepage {
    min-height: 100vh;
    background-image: url("../img/img_home/home.jpg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

/* On préfère un comportement flex sur le main de manière à avoir un comportement des marges plus responsive */
.homepage main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 100%;
    min-height: 80vh;
}

.paraph-homepage {
    text-align: center;
    max-width: 800px;
    min-width: 300px;
    padding: 1rem;
    margin: 0 2rem;
    background-color: rgb(98,26,50, 0.9);
    color: white;
    border: 2px solid black;
    border-radius: 16px;
    opacity: 0;    
    animation: fade-again 1s ease;
}

.appear {
    opacity: 1;
}

@keyframes fade-again {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.know-more {
    padding: 1rem;
    transition: transform 0.5s;
    cursor: crosshair;
}

.know-more:hover {
    transform: scale(1.1);
    font-weight: bold;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 0 4rem;
}

.close {
    color: rgb(98,26,50);
    background-color: white;
    cursor: pointer;
  }

/* (UX design) Comportement un peu plus intuitif pour le bouton */
.close:hover {
    background-color: crimson;
    color: white;
}

.paraph-info ul {
    flex-wrap: wrap;
}

.paraph-info ul li {
    text-align: start;
}