


.homepage {
    height: 100vh;
    background-image: url("../img/img_home/home.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;


}

.paraph-homepage {
    text-align: center;
    position: absolute;
    width: 35%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    background-color: rgb(98,26,50, 0.9);
    color: white;
    border: 2px solid black;
    border-radius: 16px;
    opacity: 0;    
    animation: fade-again 1s ease;
}

.appear {
    opacity: 1;
}

@keyframes fade-again {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.know-more {
    padding: 1rem;
    transition: font-size 0.5s;
    cursor: crosshair;
}

.know-more:hover {
    font-size: 18px;
    font-weight: bold;
}

.hidden {
    display: none;
}

.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

h2 {
    padding: 0 4rem;
}

.close {
    color: rgb(98,26,50);
    background-color: white;
  }