body {
    background-image: url("/img/img_home/bgthree");
}

header {
    background-color: #0f1923;
}

footer {
    background-color: #0f1923;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 7%;
    gap: 1rem;
}

.section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.section-left {
    width: 40%;
    display: flex;
}

.section-right {
    width: 40%;
    padding: 0.5rem 1rem;
    background-color: #0f1923;
    color: white;
    border-radius: 16px;
    display: flex;
    flex-direction: column;    
}

.section-img {
    height: 700px;
}

.chance {
    text-align: end;
    font-size: 12px;
}

.title {
    margin: 2rem;
    text-align: center;
    color: black;
}

.difficulty {
    color: white;
    position: absolute;
    background-color: #0f1923;
    top: 12%;
    right: 0;
    padding: 1rem 5rem;
    border-radius: 10px 0 0 10px;
}

.quote {
    color: black;
    font-size: 15px;
    position: absolute;
    top: 18%;
    left: 15%;
}

button {
    font-family: 'Orbitron', sans-serif;
    background-color: #0f1923;
    border: 1px solid white;
    color: white;
    cursor: crosshair;
    padding: 0.5rem;
    margin-bottom: 1rem;
}

button:hover {
    font-weight: bold;
    box-shadow: 2px 2px 2px;
    background-color: rgb(253,66,85);
}

span {
    text-decoration: underline;
}

.classic {
    color: white;
    font-size: 12px;
    text-align: center;
}

.animate-text { 
    visibility:hidden;
    color:white; 
}

/* PERSONALISER */


.perso-title {
    margin-top: 6%;
    color: rgb(15, 25, 35);
    margin-left: 15%;
}

.perso {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
}


.player {
    background-color: rgba(15, 25, 35, 1);
    color: white;
    display: flex;
    gap: 3rem ;
    padding: 1rem;
    height: 70px;
    width: 500px;
    border-radius: 10px;
}

.skill {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.img-skill {
    height: 30px;
    width: 30px;
}

.desc-skill {
    font-size: 12px;
}

.hidden {
    display: none;
}
