body {
    font-family: 'Orbitron', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 100;
    top: 0%;
    left: 0%;
    height: 10%;
    width: 100%;
    background-color: rgb(98,26,50);
    color: white;
    border-bottom: 1px solid black;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5rem;
    background-color: rgb(98,26,50);
    color: white;
    border-bottom: 1px solid black;
    height: 50px;
    width: 99%;
    bottom: 0;
    padding: 0.5rem;
    font-size: 10px;
}

.footer {
    padding: 1rem;
}

header>h1 {
    padding: 0 3rem;
    color: white;
}

/* NAV */

ul {
    display: flex;
    gap: 1rem;
    padding: 0 3rem;
    list-style: none;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.nav {
    color: white;
    font-weight: bold;
    text-decoration: none;
    cursor: crosshair;
    transition: font-size 0.5s;
    padding: 2rem;
}

.nav:hover {
    font-size: 20px;
}

/* PAGE HOME */

.home {
    transition: font-size 0.5s;
    cursor: crosshair;
}

.home:hover {
    font-size: 40px;
}
