<header>
    <h1><a class="home" href="/home">VG </a></h1>
    <nav>
        <ul>
            <li><a class="nav" href="/agents">Agents</a></li>
            <li><a class="nav" href="/arsenal">Arsenal</a></li>
            <li><a class="nav" href="/generator">Générateur</a></li>
        </ul>
    </nav>
</header>